

.navbar {
    grid-area: nav;
    background-color: $principal-color;

    .container-fluid {
        padding-right: 2rem;
        padding-left: 2rem;

        .logo {
            font-style: italic;
            font-size: 2rem;
            color: $special-font-color;

        }

        .navbar-toggler {
            @include remove-bootstrap-boxshadow;
            border: none;
            padding: 0;

            i {
                font-size: 2rem;
                color: $principal-font-color;
            }
        }

        .navbar-collapse {
            justify-content: right;
            .navbar-nav {
                a {
                    @include basic-link($principal-font-color);
                    font-size: 1.25rem;
                    text-align: center;
                    display: block;
                    padding: .5rem .5rem;
                    transition: color 400ms;
                    &:hover {
                        color: $special-font-color
                    }
                }
                .current-page{
                    color: $special-font-color
                }
            }
        }
    }
}
/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}