//heights
$nav-height: 4.625rem;
$hero-height: calc(100vh - $nav-height);
$main-height: calc(100vh - $nav-height - 5.75rem - 1px);
//colors

$principal-color: #23362b;
$secondary-color: #ffffff;
$special_color: #c6951a;

$principal-font-color: #ffffff;
$secondary-font-color: #23362b;
$special-font-color: #c6951a;



