//heights
$nav-height: 4.6250rem ;
$main-height:  calc(100vh - $nav-height);
//colors

$main_color: #f8e5d7;
$secondary_color: #fbbaa0;

//borders
$simple-border: #000 solid 0.1rem;

//fonts

$nav-logo-font: 2rem;