//heights
$nav-height: 4.6250rem ;
$main-height:  calc(100vh - $nav-height);
//colors

$principal_color: #23362b;
$secondary_color: #ffffff;
$special_color: #c6951a;
$principal_font-color: #ffffff;
$secondary-font-color: #140606;
$special-font-color: #f3bc32;

//borders
//$simple-border: #000 solid 0.1rem;
$simple-border: none;

//fonts


//mixins

@mixin principal-container ($color, $border) {
    background-color: $color;
    border: $border;

}
@mixin no-bootstrap-button {
    border: none;
    outline: none;
    &:focus {
        box-shadow: none;
    }
    
}
@mixin basic-link {
    color: #000;
    text-decoration: none;
    &:hover {
        color: #000;
    }
}
@mixin flex-col-container {
    display: flex;
    flex-direction: column;
}