//import:
//variables:

@import "variables";

//mixins:

@import "mixins";

//components:

@import "components/navbar";
@import "components/hero";
@import "components/go-to";
@import "components/footer";
@import "components/form";

//pages:
@import "pages/contact";
@import "pages/reservation";
@import "pages/reviews";
@import "pages/foodmenu";
@import "pages/about";


* {
    font-family: "Lato", sans-serif;
}

body {
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
    padding-top: $nav-height;
}

p {
    margin: 0;
}

main {
    background-color: $secondary-color;
    min-height: $main-height;

}

.article-top {
    background-color: $special_color;
    color: $principal-font-color;
    padding: 3.5rem;
    margin: 0;
    text-align: center;

    .article-top__minor-heading {
        font-size: 2.5rem;
    }

    .article-top__main-heading {
        font-size: 3.25rem;
        margin: 0;
        font-weight: bold;
    }
}

//  Medium devices (tablets, 768px and up) 
@media (min-width: 768px) {
    .navbar-nav a {
        text-decoration: underline rgba(0, 0, 0, 0);
        transition: text-decoration-color 400ms;

        &:hover {
            text-decoration-color: rgb(0, 0, 0);
        }
    }
}
