//import:
//variables:
@import "variables";

//components:

@import "navbar";
@import "hero";
@import "about";
@import "go-to";
@import "form";

//pages:
@import "pages/contact";
@import "pages/reservation";
@import "pages/reviews";
@import "pages/foodmenu";

* {
    font-family: "Lato", sans-serif;
}

body {
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
    padding-top: $nav-height;
}

p {
    margin: 0;
}

main {
    background-color: $secondary-color;
    min-height: $main-height;

}

.article-top {
    background-color: $special_color;
    color: $principal-font-color;
    padding: 3.5rem;
    margin: 0;
    text-align: center;

    .article-top__minor-heading {
        font-size: 2.75rem;
    }

    .article-top__main-heading {
        font-size: 3.25rem;
        margin: 0;
        font-weight: bold;
    }
}

footer {
    background-color: $principal-color;
    color: $principal-font-color;
    padding: 0 2rem;
    font-size: 1rem;

    .footer-content {
        display: flex;
        align-items: center;
        padding: .5rem 0;

        .footer__text {
            margin: 0;
        }

        .footer__socials {
            padding-left: .5rem;

            a {
                @include basic-link($special-font-color);
                font-size: 1.25rem;
                padding: 0 .5rem;
            }
        }
    }

    .footer__separator {
        margin: 0;
    }

    .personal {
        display: flex;
        align-items: center;
        padding: .5rem 0;

        .personal__text {
            margin: 0;
        }

        .personal__socials {
            a {
                @include basic-link($special-font-color);
                font-size: 1.25rem;
                padding-right: 1rem;
            }
        }
    }
}

.bd-placeholder-img {
    margin-top: 1rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .navbar-nav a {
        text-decoration: underline rgba(0, 0, 0, 0);
        transition: text-decoration-color 400ms;

        &:hover {
            text-decoration-color: rgb(0, 0, 0);
        }
    }
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}