#main-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    .contact-container {
        display: flex;
        flex-direction: column;
        place-items: center;
        justify-content: center;
        padding: 3rem;
        width: fit-content;
        background-color: $main_color;
        border: $simple-border;
        font-weight: 500;
        .contact-h2 {
            font-size: 5rem;
            margin: 0 0 1rem;
        }
        .contact-h3 {
            font-size: 2.5rem;
            margin: 0 0 1rem;
        }
    }
}