#reservation {
    padding: 0;
    margin: 0;

    #reservation__header {
        text-align: center;
        padding: 2rem;
        color: $secondary-font-color;

        #reservation__heading {
            font-size: 3rem;
            font-weight: bold;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        p {
            font-size: 1.25rem;
            margin-bottom: 3rem;
        }

        .contact__telephone {
            font-size: 1.5rem;
            font-weight: bold;
            color: $special-font-color;
        }
    }
}