.go-to {
    .go-to__content {
        @include flex-col-container;
        align-items: center;
        text-align: center;
        padding: 5rem 3rem;

        .go-to__text {
            color: $secondary-font-color;

            .go-to__heading {
                margin: 0;
                font-size: 3.25rem;
                font-weight: bold;
                margin-bottom: 4rem;
            }

            p {
                margin: 0;
                margin-bottom: 3rem;
                font-size: 1.5rem;
            }
        }

        .go-to__button {
            @include border-button ($special-font-color);
            @include box-shadow-focus($special-color, rgba(198, 149, 26, 0.6));
            @include basic-link($special-font-color);
            background-color: transparent;
            font-size: 1.75rem;
            font-weight: bold;
        }
    }

}